CAD-3D Parts/Transmitter Case/*.dwl
CAD-3D Parts/Transmitter Case/*.dwl2
Schematic/Transmitter with MPU6050/PCB_Motor.PrjPcbStructure
CAD-3D Parts/Transmitter Case/Transmitter case.bak
*.PrjPcbStructure
=======
# Ignore backups and zip files
*.bak
*.zip

# Ignore specific project files
Schematic/Transmitter with MPU6050/PCB_Motor.PrjPcbStructure

# Ignore folders
Schematic/Transmitter with MPU6050/History/
Schematic/Transmitter with MPU6050/Project Outputs for PCB_Motor/
Schematic/Transmitter with MPU6050/__Previews/
CAD-3D Parts/Transmitter Case/

Schematic/Motor Receiver/PCB_Motor_Receiver/Project Logs for PCB_Motor_Receiver/
Schematic/Motor Receiver/PCB_Motor_Receiver/__Previews/
Schematic/Transmitter with MPU6050 V2/Transmitter V2/Project Logs for Transmitter V2/
